.app__footer {
  height: 50px;
  position: relative;
  bottom: 0;
  margin-left: 10%;
  margin-right: 10%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  a {
    margin: 2rem;
    @media screen and (max-width: 584px) {
      margin: 0.5rem;
    }
  }
  @media screen and (min-width: 2000px) {
    height: 200px;
  }
}

.footer-text {
  a {
    display: flex;

    align-items: center;

    text-decoration: none;
    font-size: 0.8rem;
    text-align: left;
    color: var(--gray-color);
    line-height: 1.5;

    @media screen and (min-width: 2000px) {
      font-size: 1.75rem;
    }
  }

  h3 {
    font-size: 1rem;
    font-weight: 400;
    color: var(--black-color);
    text-align: left;

    @media screen and (min-width: 2000px) {
      font-size: 2rem;
    }

    @media screen and (max-width: 450px) {
      font-size: 0.6rem;
    }
  }
}
