.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-text {
  font-size: 0.8rem;
  text-align: left;
  color: var(--gray-color);
  line-height: 1.5;

  @media screen and (min-width: 2000px) {
    font-size: 1.75rem;
  }
}

#home {
  position: relative;
  // make this a gradiant
  background: url("../public/img/assets/bgIMG.png");
  background-size: cover;
  background-repeat: repeat;
  background-position: center;

  .app__wrapper {
    padding: 0;

    .copyright {
      display: none;
    }
  }
}

.app__header {
  flex: 1;
  width: 100%;
  height: 100%;
  flex-direction: row;
  padding: 6rem 2rem 0;

  @media screen and (min-width: 2000px) {
    padding-top: 8rem;
  }
  //might tweak
  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }
  @media screen and (max-width: 400px) {
    padding: 6rem 1rem 2rem;
  }
}

.app__header-info {
  flex: 0.65;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;

  @media screen and (max-width: 2000px) {
    width: 100%;
    margin-right: 0rem;
  }
}

.app__header-badge {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  // styling title & tags, might change this to neumorphism
  .badge-cmp,
  .tag-cmp {
    padding: 1rem 1rem;
    border: 1px solid white;
    border-radius: 15px;
    flex-direction: row;
    width: auto;
    box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
      -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  }

  .tag-cmp {
    flex-direction: column;
    margin-top: 3rem;
    p {
      width: 100%;
      text-align: left;
    }
  }

  @media screen and (max-width: 1200px) {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.app__header-img {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  margin-left: 1rem;

  img {
    width: 70%;
    object-fit: contain;
    z-index: 1;

    border: 1px solid white;
    border-radius: 10%;
    box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
      -8px -8px 12px 0 rgba(255, 255, 255, 0.3);

    @media screen and (max-width: 1200px) {
      margin-top: 1rem;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  .overlay_circle {
    position: absolute;
  }
}

.app .head-text {
  font-weight: 400;
}
